{% extends 'partials/base.html' %} {% block content %} {% load static %}

<main class="main">
  <div class="page-header mt-30 mb-75">
    <div class="container">
      <div class="archive-header"style="
      background-color: #f5f5f5;
    ">
        <div class="row align-items-center">
          <div class="col-xl-3" >
            <h1 class="mb-15">Categories</h1>
            <div class="breadcrumb">
              <a href="index.html" rel="nofollow"
                ><i class="fi-rs-home mr-5"></i>Home</a
              >
              <span></span> Categories
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content mb-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="shop-product-fillter mb-50 pr-30">
            <div class="totall-product">
              <h2>
                <img
                  class="w-36px mr-10"
                  src="assets/imgs/theme/icons/category-1.svg"
                  alt=""
                />
                {{categories.count}} Categories
              </h2>
            </div>
            
          </div>
          <div class="loop-grid loop-list pr-30 mb-50">
            {% for c in categories %}
            <article class="wow fadeIn animated hover-up mb-30 animated">
              <div
                class="post-thumb"
                style="background-image: url({{c.image.url}})"
              >
                <div class="entry-meta">
                  <a class="entry-meta meta-2" href="blog-category-grid.html"
                    ><i class="fi-rs-play-alt"></i
                  ></a>
                </div>
              </div>
              <div class="entry-content-2 pl-50">
                <h3 class="post-title mb-20">
                  <a href="{% url 'core:category-product-list' c.cid %}"
                    >{{c.title}}</a
                  >
                </h3>
                
                <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                  <div>
                    <span class="hit-count has-dot"
                      >{{c.category.count}}
                      product{{c.category.count|pluralize}}</span
                    >
                  </div>
                  
                </div>
              </div>
            </article>
            {% endfor %}
          </div>
          <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-start">
                <li class="page-item">
                  <a class="page-link" href="#"
                    ><i class="fi-rs-arrow-small-left"></i
                  ></a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link dot" href="#">...</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">6</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#"
                    ><i class="fi-rs-arrow-small-right"></i
                  ></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-lg-3 primary-sidebar sticky-sidebar">
          <div class="widget-area">
            <div class="sidebar-widget-2 widget_search mb-50">
              <div class="search-form">
                <form action="#">
                  <input type="text" placeholder="Search…" />
                  <button type="submit">
                    <i class="fi-rs-search"></i>
                  </button>
                </form>
              </div>
            </div>
            <div class="sidebar-widget widget-category-2 mb-50">
              <h5 class="section-title style-1 mb-30">Category</h5>
              <ul>
                {% for c in categories %}
                <li>
                  <a href="shop-grid-right.html">
                    <img src="{{c.image.url}}" alt="" />{{c.title}}</a
                  ><span class="count">{{c.category.count}}</span>
                </li>
                {% endfor %}
              </ul>
            </div>
            <!-- Product sidebar Widget -->
            <div
              class="sidebar-widget product-sidebar mb-50 p-30 bg-grey border-radius-10"
            >
              <h5 class="section-title style-1 mb-30">Trending Now</h5>
              {% for tp in trending_products %}
              <div class="single-post clearfix">
                <div class="image">
                  <img src="{{tp.image.url}}" alt="#" />
                </div>
                <div class="content pt-10">
                  <h5>
                    <a href="shop-product-detail.html">{{tp.title}}</a>
                  </h5>
                  <p class="price mb-0 mt-5">${{tp.price}}</p>
                  <div class="product-rate">
                    <div class="product-rating" style="width: 90%"></div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            
            <!--Tags-->
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
